<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mumbai Statistics</title>
</head>

<body>
    <h2>Mumbai Internal Generation at {{currTime}}</h2>
    <table id='genTable'>
        <thead>
            <tr>
                <th>Generators</th>
                <th>Installed Capacity</th>
                <th>Status</th>
                <th>Present Generation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='genStage'>Tata Hydro</td>
            </tr>
            <tr>
                <td>Tata Bhira</td>
                <td>{{gen['tataBhiraIC']}}</td>
                <td class='genStatus' val="{{gen['tataBhiraGen']|int}}"></td>
                <td>{{gen['tataBhiraGen']|int}}</td>
            </tr>
            <tr>
                <td>Tata Bhira PSS</td>
                <td>{{gen['tataBhiraPssIC']}}</td>
                <td class='genStatus' val="{{gen['tataBhiraPssGen']|int}}"></td>
                <td>{{gen['tataBhiraPssGen']|int}}</td>
            </tr>
            <tr>
                <td>Tata Bhivpuri</td>
                <td>{{gen['tataBhivIC']}}</td>
                <td class='genStatus' val="{{gen['tataBhivGen']|int}}"></td>
                <td>{{gen['tataBhivGen']|int}}</td>
            </tr>
            <tr>
                <td>Tata Khopoli</td>
                <td>{{gen['tataKhopIC']}}</td>
                <td class='genStatus' val="{{gen['tataKhopGen']|int}}"></td>
                <td>{{gen['tataKhopGen']|int}}</td>
            </tr>
            <tr>
                <td class='genStage'>Tata Thermal</td>
            </tr>
            <tr>
                <td>Unit 5</td>
                <td>{{gen['tataU5IC']}}</td>
                <td class='genStatus' val="{{gen['tataU5Gen']|int}}"></td>
                <td>{{gen['tataU5Gen']|int}}</td>
            </tr>
            <tr>
                <td>Unit 7A</td>
                <td>{{gen['tataU7AIC']}}</td>
                <td class='genStatus' val="{{gen['tataU7AGen']|int}}"></td>
                <td>{{gen['tataU7AGen']|int}}</td>
            </tr>
            <tr>
                <td>Unit 7B</td>
                <td>{{gen['tataU7BIC']}}</td>
                <td class='genStatus' val="{{gen['tataU7BGen']|int}}"></td>
                <td>{{gen['tataU7BGen']|int}}</td>
            </tr>
            <tr>
                <td>Unit 8</td>
                <td>{{gen['tataU8IC']}}</td>
                <td class='genStatus' val="{{gen['tataU8Gen']|int}}"></td>
                <td>{{gen['tataU8Gen']|int}}</td>
            </tr>
            <tr>
                <td class='genStage'>Dahanu</td>
            </tr>
            <tr>
                <td>Unit 1</td>
                <td>{{gen['dahanuU1IC']}}</td>
                <td class='genStatus' val="{{gen['dahanuU1Gen']|int}}"></td>
                <td>{{gen['dahanuU1Gen']|int}}</td>
            </tr>
            <tr>
                <td>Unit 2</td>
                <td>{{gen['dahanuU2IC']}}</td>
                <td class='genStatus' val="{{gen['dahanuU2Gen']|int}}"></td>
                <td>{{gen['dahanuU2Gen']|int}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class='genStage'>Total</td>
                <td class='bold'>{{gen['totalGen']|int}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class='genStage'>Mumbai Demand</td>
                <td class='bold'>{{gen['mumbaiDemand']|int}}</td>
            </tr>
        </tbody>
    </table>
</body>

<style>
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

td, th {
    padding:0.2em;
}

.genStage, .bold{
    font-weight:bold;
}
</style>
<script>
function updateStatus(){
    var statEls = document.getElementsByClassName('genStatus');
    for(var i=0;i<statEls.length;i++){
        var genValStr = statEls[i].getAttribute('val');
        if(isNaN(genValStr)){
            continue;
        }
        genVal = +genValStr;
        genStatus = "Offline"
        if((genVal>1) || (genVal<-1)){
            genStatus =  "In Service";
        }
        statEls[i].innerHTML = genStatus;
    }
}
updateStatus();
</script>
</html>